/* General */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #8a33ca, #2575fc);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container {
  width: 100%;
  max-width: 400px; /* Ancho máximo del contenedor */
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 10px;
  text-align: center; /* Centrar el texto del título */
}

/* Etiquetas */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Campos de texto */
input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

/* Botones */
button[type='submit'] {
  margin: 20px 0;
  padding: 10px 15px;
  background-color: #2575fc;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

a.btn-back {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  background-color: #6c757d;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover,
a.btn-back:hover {
  opacity: 0.8;
}
/* Mensajes de error */
.error-message {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #e3342f;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}

.success-message {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #38c172;
  background-color: #d4edda;
  color: #155724;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}
