/* General */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #2575fc, #21d883);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  padding: 30px;
  text-align: center;
}

/* Inputs y Selects */
.input-field {
  width: 100%;
  padding: 15px; /* Aumentar el padding */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px; /* Aumentar el tamaño de la fuente */
}

/* Checkboxes */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container label {
  margin-left: 10px; /* Espacio entre el checkbox y el texto */
  text-align: left;
}

.checkbox {
  margin-right: 10px;
  margin-bottom: auto;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px; /* Añade un margen inferior para separar del input */
  text-align: left;
}

/* Mensajes de error y éxito */
.error-message {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #e3342f;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}

/* Mensajes de éxito (si en algún momento se usa) */
.success-message {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #38c172;
  background-color: #d4edda;
  color: #155724;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}

/* Fondo */
/* .background {
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
