/* Estilos específicos para la página de inicio de sesión */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #8a33ca, #2575fc);
  color: #333;
}

.container {
  width: 100%;
  max-width: 400px; /* Ancho máximo del contenedor */
  margin: 50px auto; /* Centrar el contenedor horizontalmente y añadir margen superior */
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center; /* Centrar el texto del título */
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

p.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}
