/* Reset de márgenes y padding básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo con gradiente y disposición flexible */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  padding: 0 20px;
  position: relative;
}

/* Botón "Volver al menú principal" */
a.back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #f7f7f7;
  color: #333;
  border: 1px solid #ccc;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a.back-button:hover {
  background-color: #ccc;
  color: black;
}

/* Estilo del contenedor principal */
.container {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo translúcido */
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  color: #000;
}

/* Títulos */
h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: black;
}

label {
  display: block;
  text-align: left;
  font-weight: bold;
}

/* Estilos para los campos de entrada */
input[type='text'] {
  width: 100%;
  padding: 0.8rem;
  margin: 0.8rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f7f7f7;
}

/* Estilo para los botones */
button[type='submit'] {
  background-color: #2575fc;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

button[type='submit']:hover {
  opacity: 0.8;
}

/* Estilo para el botón de volver */
a.btn-back {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #6c757d;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

a.btn-back:hover {
  opacity: 0.8;
}

/* Estilo para el botón secundario */
a.btn-secondary {
  background-color: #6c757d;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s;
  /* text-transform: none; Asegura que el texto no esté en mayúsculas */
  margin-top: 10px; /* Ajusta el margen superior para alinearlo con el botón de envío */
  margin-left: 3px;
}

a.btn-secondary:hover {
  opacity: 0.8;
}

/* Estilos responsivos */
@media (max-width: 500px) {
  .container {
    padding: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  button[type='submit'] {
    font-size: 1rem;
  }

  a.btn-back {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
}
